<!DOCTYPE html>
<html>

<head>
    <meta chatset="utf-8">
    <title>로그인</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    <script type="text/javascript" src="js/login.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" id="all">

                <div class="form-group">
                    <label for="inputID">ID</label>
                    <input type="text" class="form-control" id="inputID" aria-describedby="helpID"
                        placeholder="Enter your ID">
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" aria-describedby="helpPassword"
                        placeholder="Enter your Password">
                    <small id="helpPassword" class="form-text text-muted">We'll never share your ID and Password with
                        anyone else.</small>
                </div>

                <div class="form-group" id="button">
                    <button type="button" class="btn btn-primary" onclick="goLogin()">로그인</button>
                    <span id="signup"><button class="btn btn-info" onclick="goSignup()">회원가입</button></span>
                </div>
            </div>
        </div>

        <form name=login action="/login" method="post">
            <input type="hidden" name="id">
            <input type="hidden" name="password">
        </form>
    </div>
</body>

</html>